.spark-journey{background-color:SkyBlue; float:left;}
.fubu-journey{background-color:Aqua; float:right;}
.event-horizon{background-color:Orange;clear:both;text-align:center;}
.oblivion{background-color:Red;clear:both;text-align:center;}
.footer-infinity{background-color:green;clear:both;text-align:center;}