body
{
	font-family: Verdana;
	font-size: 12px;
}

#header
{
	text-align:center;
	font-size:16px;
	font-weight:bold;
}

.spark-journey
{
	background-color:SkyBlue;
	float:left;
	padding:4px;
	margin: 4px 0px;
}

.fubu-journey
{
	background-color:Aqua;
	float:right;
	padding:4px;
	margin: 4px 0px;
}

.event-horizon
{
	background-color:Orange;
	clear:both;
	font-size:14px;
	text-align:center;
	padding:4px;
	margin: 4px 0px;
}

.oblivion
{
	background-color:Red;
	clear:both;
	text-align:center;
	font-size:14px;
	padding:4px;
	margin: 4px 0px;
}

.footer-infinity
{
	background-color:green;
	clear:both;
	font-size:14px;
	text-align:center;
	padding:4px;
}
