<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="1.0.0.452" targetFramework="net40" />
  <package id="FubuCore" version="1.0.2.232" targetFramework="net40" />
  <package id="FubuLocalization" version="0.9.5.130" targetFramework="net40" />
  <package id="Microsoft.Owin.Host.HttpListener" version="0.18-alpha" targetFramework="net40" />
  <package id="Microsoft.Owin.Hosting" version="0.18-alpha" targetFramework="net40" />
  <package id="Owin" version="1.0" targetFramework="net40" />
  <package id="Owin.Extensions" version="0.6.4" targetFramework="net40" />
</packages>