<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="1.0.0.412" targetFramework="net40" />
  <package id="FubuCore" version="1.0.0.210" targetFramework="net40" />
  <package id="FubuTestingSupport" version="1.0.0.210" targetFramework="net40" />
  <package id="HtmlTags" version="1.2.0.131" targetFramework="net40" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="RhinoMocks" version="3.6.1" />
  <package id="structuremap" version="2.6.3" />
  <package id="structuremap.automocking" version="2.6.3" />
</packages>