push.bat
TestResult.xml
build
build35
artifacts
obj
bin
src/CommonAssemblyInfo.cs
*.csproj.user
_ReSharper.*
*.[Rr]e[Ss]harper.user
src/FubuMVC.*.ReSharper
*.DotSettings*
*.suo
*.cache
~$*
*.stresult
.fubu-alias
.fubu-includes
.fubu-manifest
editor.htm
testEditor.css
TestResult.xml
history.xml
pak*.zip
test.db
*.userprefs
*.pidb
*.DS_Store
test-results
fubu-content
spark.zip
_combined/
storyteller
src/Spark.Web.FubuMVC/
report.htm
installation_report.htm
src/Spark.Web.FubuMVC
src/FubuMVC.Docs/snippets
FubuTestAppRoot
lib/bottles/FubuMVC*.*
lib/**/*.nupkg
.links
packaging/release
*.swp
output
output/*
*.dotCover
src/packages
repositories.config
results
bottles.cmd
deploy
deploy/*
deployment/bottles/*.zip
deploymentplan.html
deployment
!docs/source/topics/deployment
*ncrunch*
fubu.cmd
Gemfile.lock
logs
storyteller.cmd
gems
pkg
run_st.cmd
.bundle
src/fubu.Docs/snippets
nupkgs
src/FubuApp/_templates
renamer.cs
src/Specifications/Raven
src/data
src/Specifications/local.config
stresults.htm
src/Specifications/phantomjs.exe.version
node_modules
UpgradeLog*.htm
npm-debug.log
content
missing.locale.config
*.esent.*
src/FubuMVC.IntegrationTesting/chromedriver.exe
src/FubuMVC.IntegrationTesting/phantomjs.exe
src/FubuMVC.IntegrationTesting/chromedriver.exe.version
src/FubuMVC.IntegrationTesting/local.config
packages
src/ServiceNode/fubutransportation.esent.2215/fubutransportation.esent.2215
*.chk
.vs/
src/FubuMVC.IntegrationTesting/lmdb.dll
src/FubuMVC.IntegrationTesting/fubutransportationqueues-2216/
.idea*
fubutransportationqueues.99*
