push.bat
TestResult.xml
build
build35
artifacts
obj
bin
deploy
deploy/*
src/CommonAssemblyInfo.cs
*.csproj.user
_ReSharper.*
*.[Rr]e[Ss]harper.user
src/FubuMVC.*.ReSharper
*.DotSettings.user
*.suo
*.cache
~$*
*.stresult
.fubu-alias
.fubu-includes
.fubu-manifest
editor.htm
testEditor.css
TestResult.xml
history.xml
pak*.zip
test.db
*.userprefs
*.pidb
*.DS_Store
test-results
fubu-content
spark.zip
deployment/bottles/*.zip
_combined/
storyteller
deploymentplan.html
src/Spark.Web.FubuMVC/
report.htm
installation_report.htm
src/Spark.Web.FubuMVC
FubuTestAppRoot
deployment
lib/bottles/FubuMVC*.*
lib/**/*.nupkg
.links
packaging/release
*.swp
output
output/*
*.dotCover
src/packages
repositories.config
results
bottles.cmd
