source http://nuget.org/api/v2

nuget Castle.Core 3.2.1
nuget Fixie ~> 1.0.0.29
nuget Fleck 0.10.0.26
nuget FubuLocalization 1.1.0.182
nuget Microsoft.AspNet.Razor 2.0.20715.0
nuget Microsoft.Data.Edm 5.6.0
nuget Microsoft.Net.Http 2.0.20710.0
nuget Microsoft.Owin 3.0.1.0
nuget Microsoft.Owin.Host.HttpListener 3.0.1.0
nuget Microsoft.Owin.Hosting 3.0.1.0
nuget Newtonsoft.Json 5.0.8
nuget NLog 2.1
nuget Nowin 0.16.0.0
nuget Owin 1.0
nuget RavenDB.Client 2.5.2750
nuget RavenDB.Database 2.5.2750
nuget RavenDB.Embedded 2.5.2750
nuget RhinoMocks 3.6.1
nuget Shouldly ~> 2.5.0
nuget Spark 1.7.5.0
nuget structuremap 4.0.0.272-alpha
nuget Storyteller 3.0.0.269-alpha
nuget System.Spatial 5.6.0.0
nuget WindowsAzure.Storage 3.0.1.0

source http://build.fubu-project.org/guestAuth/app/nuget/v1/FeedService.svc
source https://www.myget.org/F/fubumvc-edge
nuget BottleServiceRunner
nuget DotNetZip
nuget FubuCore 2.0.0.311
nuget HtmlTags 3.0.0.187
nuget LightningQueues 0.1.0.97
nuget ManagedEsent
nuget Microsoft.AspNet.WebApi.Client
nuget Microsoft.AspNet.WebApi.Core
nuget Microsoft.AspNet.WebApi.SelfHost
nuget Microsoft.Bcl
nuget Microsoft.Bcl.Build
nuget Microsoft.CompilerServices.AsyncTargetingPack
nuget Microsoft.Data.OData
nuget Microsoft.Data.Services.Client
nuget Microsoft.Web.Infrastructure
nuget Microsoft.WindowsAzure.ConfigurationManager
nuget PowerThreading
nuget Selenium.RC
nuget Selenium.Support
nuget Selenium.WebDriver
nuget Selenium.WebDriverBackedSelenium
nuget TopShelf
