<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>fubumvc</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="https://www.myget.org/F/fubumvc-edge" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="http://build.fubu-project.org/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="ReleasedOnly" />
    <Feed Url="https://www.myget.org/F/katana-mono/" Mode="Fixed" Stability="Anything" />
    <Feed Url="http://myget.org/F/katana/" Mode="Fixed" Stability="Anything" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="Anything" />
    <Feed Url="http://packages.nuget.org/v1/FeedService.svc/" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="Bottles" Version="3.0.0.618" Mode="Fixed" />
    <Dependency Name="Castle.Core" Version="3.2.1" Mode="Fixed" />
    <Dependency Name="Fleck" Version="0.10.0.26" Mode="Fixed" />
    <Dependency Name="FubuCore" Version="2.0.0.311" Mode="Fixed" />
    <Dependency Name="FubuLocalization" Version="1.1.0.182" Mode="Fixed" />
    <Dependency Name="FubuTestingSupport" Version="2.0.0.287" Mode="Fixed" />
    <Dependency Name="HtmlTags" Version="2.1.0.185" Mode="Fixed" />
    <Dependency Name="LightningQueues" Version="0.1.0.97" Mode="Fixed" />
    <Dependency Name="Microsoft.AspNet.Razor" Version="2.0.20715.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Net.Http" Version="2.0.20710.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Owin" Version="3.0.1.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Owin.Host.HttpListener" Version="3.0.1.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Owin.Hosting" Version="3.0.1.0" Mode="Fixed" />
    <Dependency Name="Newtonsoft.Json" Version="4.5.9" Mode="Fixed" />
    <Dependency Name="NLog" Version="2.1.0.0" Mode="Fixed" />
    <Dependency Name="Nowin" Version="0.16.0.0" Mode="Fixed" />
    <Dependency Name="NUnit" Version="2.6.3.0" Mode="Fixed" />
    <Dependency Name="NUnit.Runners" Version="2.6.3.0" Mode="Fixed" />
    <Dependency Name="Owin" Version="1.0" Mode="Fixed" />
    <Dependency Name="RavenDB.Client" Version="2.5.2750" Mode="Fixed" />
    <Dependency Name="RavenDB.Database" Version="2.5.2750" Mode="Fixed" />
    <Dependency Name="RavenDB.Embedded" Version="2.5.2750" Mode="Fixed" />
    <Dependency Name="RhinoMocks" Version="3.6.1" Mode="Fixed" />
    <Dependency Name="Spark" Version="1.7.5.0" Mode="Fixed" />
    <Dependency Name="Storyteller" Version="3.0.0.198-alpha" Mode="Fixed" />
    <Dependency Name="structuremap" Version="3.1.5.168" Mode="Fixed" />
    <Dependency Name="structuremap.automocking" Version="3.1.5.168" Mode="Fixed" />
    <Dependency Name="System.Spatial" Version="5.6.0.0" Mode="Fixed" />
    <Dependency Name="WindowsAzure.Storage" Version="3.0.1.0" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>