<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.9.399" targetFramework="net40" />
  <package id="FubuCore" version="0.9.9.205" targetFramework="net40" />
  <package id="FubuLocalization" version="0.9.5.97" targetFramework="net40" />
  <package id="HtmlTags" version="1.2.0.127" targetFramework="net40" />
</packages>