<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FubuCore" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.9.1.0" newVersion="0.9.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FubuCore" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.9.1.0" newVersion="0.9.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FubuCore" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.9.1.0" newVersion="0.9.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlTags" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FubuCore" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.9.1.0" newVersion="0.9.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlTags" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FubuCore" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.9.1.0" newVersion="0.9.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlTags" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FubuCore" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.9.1.0" newVersion="0.9.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlTags" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FubuCore" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.9.1.0" newVersion="0.9.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlTags" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <compilation targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>