<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="FakeSettings.Name" value="Max"/>
    <add key="FakeSettings.Age" value="6"/>
    <add key="FakeSettings.Active" value="true"/>
    <add key="DiagnosticsSettings.TraceLevel" value="None"/>
  </appSettings>
</configuration>