Bottles
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.Katana
FubuMVC.StructureMap
FubuTestingSupport
HtmlTags
Microsoft.CompilerServices.AsyncTargetingPack
Microsoft.Data.Edm
Microsoft.Data.OData
Microsoft.Data.Services.Client
Microsoft.WindowsAzure.ConfigurationManager
Newtonsoft.Json
NUnit
NUnit.Runners
Owin
RavenDB.Client
RavenDB.Database
RavenDB.Embedded
RhinoMocks
structuremap
structuremap.automocking
System.Spatial
WindowsAzure.Storage
