FubuCore
FubuLocalization
FubuTestingSupport
HtmlTags
Microsoft.CompilerServices.AsyncTargetingPack
Microsoft.Data.Edm
Microsoft.Data.OData
Microsoft.Data.Services.Client
Microsoft.Owin
Microsoft.Owin.Host.HttpListener
Microsoft.Owin.Hosting
Microsoft.WindowsAzure.ConfigurationManager
Newtonsoft.Json
NUnit
NUnit.Runners
Owin
RavenDB.Client
RavenDB.Database
RavenDB.Embedded
RhinoMocks
structuremap
structuremap.automocking
System.Spatial
WindowsAzure.Storage
