<service>
  <Name>%SERVICE_NAME%</Name>
  <DisplayName>%DISPLAY_NAME%</DisplayName>
  <Description>A Bottles/TopShelf hosted service</Description>
  <UseEventLog>False</UseEventLog>
  
  <!-- Set this if there is an ambiguity about what bootstrapper or IApplicationLoader 
       BottleServiceRunner should use -->
  <!--<BootstrapperType>assembly qualified name of a specific bootstrapper type</BootstrapperType>-->

</service>