.intro {
	margin-top: 10px;
	margin-left: 3em;
	margin-right: 10em;
}

.example{
    border: medium double black;
    margin: 8px;
    padding: 10px;
}

.property {
    color: Blue;
}

.source {
}

.tag {
    border: thin solid #ccc;
    margin: 10px;
    padding: 10px;
}

.rendered{
}

.subproperties{
    list-style-type: none;
    list-style-position: outside;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 1em;
}

.subproperties li, .subproperties a, .subproperties a:visited {
    color: Blue;
}

.subproperties li a {
    text-decoration: none;
}

.subproperties li a:hover {
    text-decoration: underline;
}