@model FubuMVC.IntegrationTesting.ViewEngines.HelloRazor.HelloWorldRazorViewModel
<h1>@Model.Message</h1>
@this.Raw(this.Partial(new FubuMVC.IntegrationTesting.ViewEngines.HelloRazor.HelloRazorPartialInputModel()))