<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.349" />
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="FubuCore" version="0.9.9.179" />
  <package id="FubuLocalization" version="0.9.5.77" />
  <package id="HtmlTags" version="1.1.0.103" />
  <package id="structuremap" version="2.6.3" />
</packages>