<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.360" />
  <package id="FubuCore" version="0.9.9.180" />
  <package id="FubuLocalization" version="0.9.5.78" />
  <package id="FubuMVC.References" version="0.9.8.1168" />
  <package id="FubuTestingSupport" version="0.9.9.180" />
  <package id="HtmlTags" version="1.1.0.112" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="4.0.20710.0" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" />
  <package id="Newtonsoft.Json" version="4.5.9" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="RhinoMocks" version="3.6.1" />
  <package id="structuremap" version="2.6.3" />
  <package id="structuremap.automocking" version="2.6.3" />
</packages>