<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlTags" version="0.9.1.9" />
  <package id="structuremap" version="2.6.2" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="WebActivator" version="1.1.0.0" />
  <package id="FubuCore" version="0.9.0.50850" />
  <package id="FubuMVC" version="0.9.0.50848" />
</packages>