<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.217" />
  <package id="FubuCore" version="0.9.8.126" />
  <package id="FubuLocalization" version="0.9.4.10" />
  <package id="HtmlTags" version="1.0.0.56" />
  <package id="Spark" version="1.6" />
  <package id="structuremap" version="2.6.3" />
  <package id="WebActivator" version="1.5" />
</packages>