<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.365" />
  <package id="FubuCore" version="0.9.9.181" />
  <package id="FubuLocalization" version="0.9.5.79" />
  <package id="HtmlTags" version="1.1.0.115" />
  <package id="Spark" version="1.7.4.0" />
  <package id="structuremap" version="2.6.3" />
  <package id="WebActivator" version="1.5" />
</packages>