<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.172" />
  <package id="Bottles.Deployers.IIS" version="0.9.1.172" />
  <package id="Bottles.Deployment" version="0.9.1.172" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="FubuCore" version="0.9.4.106" />
  <package id="Gate" version="0.1.4" />
  <package id="Gate.Kayak" version="0.1.4" />
  <package id="HtmlTags" version="1.0.0.52" />
  <package id="Kayak" version="0.7.2" />
  <package id="structuremap" version="2.6.3" />
</packages>