<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.321" />
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="FubuCore" version="0.9.9.169" />
  <package id="FubuTestingSupport" version="0.9.9.169" />
  <package id="HtmlTags" version="1.1.0.90" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="RhinoMocks" version="3.6.1" />
  <package id="structuremap" version="2.6.3" />
  <package id="structuremap.automocking" version="2.6.3" />
</packages>