ApplicationSettings.ApplicationSourceName=KayakTestApplication.KayakApplication, KayakTestApplication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
ApplicationSettings.Port=5500
ApplicationSettings.Name=Kayak
ApplicationSettings.RootUrl=http://localhost/kayak
ApplicationSettings.PhysicalPath=../../../KayakTestApplication
