Bottles
Castle.Core
DotNetZip
FubuCore
FubuLocalization
FubuTestingSupport
HtmlTags
Microsoft.AspNet.WebApi.Client
Microsoft.AspNet.WebApi.Core
Microsoft.AspNet.WebApi.SelfHost
Microsoft.Net.Http
Newtonsoft.Json
NUnit
NUnit.Runners
Owin
RhinoMocks
Selenium.RC
Selenium.Support
Selenium.WebDriver
Selenium.WebDriverBackedSelenium
Storyteller
structuremap
structuremap.automocking
