ordered set diagnostics is
jquery/jquery.min.js
jquery/jquery-ui-1.8.10.custom.min.js
jquery/i18n/grid.locale-en.js
jquery/jquery.jqGrid.min.js
jquery/jquery.metadata.js
jquery/jquery.hotkeys.js
jquery/jquery.tmpl.js
json2.js
knockout-1.1.2.js
bootstrap-alerts.js
bootstrap-tabs.js
core.js
requests.js requires diagnostics
routes.js requires diagnostics
jquery/jquery.treeview.js requires diagnostics
requests/view.js requires jquery/jquery.treeview.js
requests/view.js requires prettyprint.js
html/selector.js requires diagnostics
authorization.js requires diagnostics
chains/view.js requires diagnostics