<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.284" />
  <package id="FubuCore" version="0.9.9.153" />
  <package id="FubuLocalization" version="0.9.5.45" />
  <package id="HtmlTags" version="1.1.0.73" />
  <package id="Newtonsoft.Json" version="4.0.8" />
</packages>