<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Mimosa</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap/bootstrap.css" />

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/reload-client.js"></script>

    <script src="/javascripts/vendor/requirejs/require.js" data-main="/javascripts/main.js"></script>

  </head>
  <body>

    <div ng-controller="MainCtrl">
        {{message}}
    </div>

  </body>
</html>