ordered set diagnostics is
diagnostics/jquery-1.7.min.js
diagnostics/jquery.event.drag-2.0.min.js
diagnostics/jquery.event.drOP-2.0.min.js
diagnostics/slick.core.js
diagnostics/slick.grid.js
diagnostics/spike.js

ordered set diagnostics_styles is
diagnostics/slick.grid.css
diagnostics/jquery-ui-1.8.16.custom.css






