<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.9.407" targetFramework="net40" />
  <package id="FubuCore" version="1.0.0.210" targetFramework="net40" />
  <package id="FubuLocalization" version="0.9.5.108" targetFramework="net40" />
  <package id="HtmlTags" version="1.2.0.131" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="4.0.20710.0" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" />
  <package id="Newtonsoft.Json" version="4.5.9" />
</packages>