<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.316" />
  <package id="FubuCore" version="0.9.9.165" />
  <package id="Gate" version="0.1.4" />
  <package id="Gate.Kayak" version="0.1.4" />
  <package id="HtmlTags" version="1.1.0.86" />
  <package id="Kayak" version="0.7.2" />
</packages>